{% extends 'base.html' %}

{% block title %}
Mi Perfil
{% endblock %}

{% block content %}

<div class="flex min-h-screen">

    <aside class="w-64 bg-blue-900 text-white">

        <div class="p-6 text-center">

            <img
                src="{{ url_for('static', filename='img/logo_cobalsa.png') }}"
                class="w-24 mx-auto mb-4">

            <h2 class="font-bold text-xl">
                RHSOFT
            </h2>

        </div>

    </aside>

    <main class="flex-1 p-8">

        <h1 class="text-4xl font-bold text-blue-900 mb-8">
            Mi Perfil
        </h1>

        <div class="bg-white rounded-xl shadow p-8">

            <div class="grid md:grid-cols-2 gap-6">

                <div>
                    <label class="font-bold">Nombre</label>
                    <input value="Jerson Sarmiento"
                           class="w-full border p-3 rounded mt-2">
                </div>

                <div>
                    <label class="font-bold">Correo</label>
                    <input value="jerson@cobalsa.com"
                           class="w-full border p-3 rounded mt-2">
                </div>

                <div>
                    <label class="font-bold">Cargo</label>
                    <input value="Administrador"
                           class="w-full border p-3 rounded mt-2">
                </div>

                <div>
                    <label class="font-bold">Departamento</label>
                    <input value="RRHH"
                           class="w-full border p-3 rounded mt-2">
                </div>

            </div>

        </div>

    </main>

</div>

{% endblock %}