{% extends 'base.html' %}

{% block title %}
Dashboard Administrador
{% endblock %}

{% block content %}

<div class="flex min-h-screen">

    {% include 'partials/sidebar_admin.html' %}

    <main class="flex-1 p-8">

    <!-- CONTENIDO -->


        <h1 class="text-4xl font-bold text-blue-900 mb-8">
            Panel de Administración
        </h1>

        <!-- TARJETAS -->

        <div class="grid md:grid-cols-3 gap-6">

            <div class="bg-white p-6 rounded-xl shadow">

                <h3 class="text-gray-500">
                    Total Empleados
                </h3>

                <p class="text-4xl font-bold text-blue-900 mt-2">
    {{ total_empleados }}
</p>

            </div>

            <div class="bg-white p-6 rounded-xl shadow">

                <h3 class="text-gray-500">
                    Departamentos
                </h3>

                <p class="text-4xl font-bold text-blue-900 mt-2">
    {{ total_departamentos }}
</p>

            </div>

            <div class="bg-white p-6 rounded-xl shadow">

                <h3 class="text-gray-500">
                    Cargos
                </h3>

                <p class="text-4xl font-bold text-blue-900 mt-2">
    {{ total_cargos }}
</p>

            </div>

        </div>

        <!-- ACCIONES RAPIDAS -->

        <div class="mt-10">

            <h2 class="text-2xl font-bold text-blue-900 mb-4">
                Acciones Rápidas
            </h2>

            <div class="grid md:grid-cols-3 gap-6">

                <a href="/empleados"
                   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

                    <h3 class="font-bold text-blue-900">
                        Gestionar Empleados
                    </h3>

                </a>

                <a href="/cargos"
                   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

                    <h3 class="font-bold text-blue-900">
                        Gestionar Cargos
                    </h3>

                </a>
                <a href="/contratos"
   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

    <h3 class="font-bold text-blue-900">
        Gestionar Contratos
    </h3>

</a>

                <a href="/registros"
   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

    <h3 class="font-bold text-blue-900">
        Ver Registros
    </h3>

</a>

<a href="/permisos"
   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

    <h3 class="font-bold text-blue-900">
        Gestionar Permisos
    </h3>

</a>

</a>
                <a href="/vacaciones"
   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

    <h3 class="font-bold text-blue-900">
        Gestionar Vacaciones
    </h3>

</a>

       <a href="/departamentos"
   class="bg-white p-6 rounded-xl shadow hover:shadow-lg">

    <h3 class="font-bold text-blue-900">
        Gestionar Departamentos
    </h3>

</a>


            </div>

        </div>

    </main>

</div>

{% endblock %}