<aside class="w-64 bg-blue-900 text-white">

    <div class="p-6 text-center border-b border-blue-800">

        <img
            src="{{ url_for('static', filename='img/logo_cobalsa.png') }}"
            class="w-24 mx-auto mb-4">

        <h2 class="font-bold text-xl">
            RHSOFT
        </h2>

    </div>

    <nav class="mt-6">

        <a href="/admin"
           class="block px-6 py-3 hover:bg-blue-800">
            Dashboard
        </a>

        <a href="/empleados"
           class="block px-6 py-3 hover:bg-blue-800">
            Empleados
        </a>

        <a href="/cargos"
           class="block px-6 py-3 hover:bg-blue-800">
            Cargos
        </a>

        <a href="/departamentos"
           class="block px-6 py-3 hover:bg-blue-800">
            Departamentos
        </a>

        <a href="/contratos"
           class="block px-6 py-3 hover:bg-blue-800">
            Contratos
        </a>

        <a href="/vacaciones"
           class="block px-6 py-3 hover:bg-blue-800">
            Vacaciones
        </a>

        <a href="/permisos"
           class="block px-6 py-3 hover:bg-blue-800">
            Permisos
        </a>

        <a href="/registros"
           class="block px-6 py-3 hover:bg-blue-800">
            Registros
        </a>

        <a href="/logout"
           class="block px-6 py-3 hover:bg-red-700">
            Cerrar Sesión
        </a>

    </nav>

</aside>